<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.Wisdom" version="2.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Wisdom</name>
  <description>This App is developed so that users can easily read the book of  wisdom.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Sunil Thomas</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <vs:platformSpecificValues />
</widget>